extend layout
block content
  script(type='text/javascript', src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
  link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
  script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js')
  link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet')
  link(rel='stylesheet', href='stylesheets/jsoneditor.css')
  link(rel='stylesheet', href='stylesheets/jsoned2.css')
  script(type='text/javascript', src='javascripts/jquery.min.js')
  script(type='text/javascript', src='javascripts/jquery.jsoneditor.min.js')
  script(type='text/javascript', src='javascripts/jsoneditor.js')
  

  p
    | ALFRESCO Web Tool.
  p
    | This tool is used to configure and launch ALFRESCO
    | runs, and in the future will be used for post 
    | processing analysis.
  form(action='/launch',method='post')
    input(id='jobtitle' name='jobtitle',type='text', style='width:300px', value='',placeholder='jobtitle')
    input(id='email' name='email',type='text', style='width:300px', value='',placeholder='user@example.com')
    input(id='cores' name='cores',type='text', style='width:300px', value='',placeholder='32')
    textarea(id='fif', name='fif', style='width: 600px;')
    #editor.json-editor
    input(id='submit' name='submit', type='submit', value='Submit Job')
  #map

  script.
    var map = L.mapbox.map("map", 'alecbennett.he3o6a7i');
    proj4.defs([
     [
      'EPSG:4326',
      '+title=WGS 84 (long/lat) +proj=longlat +ellps=WGS84 +datum=WGS84 +units=degrees'],
    [
      'EPSG:3338',
      '+proj=aea +lat_1=55 +lat_2=65 +lat_0=50 +lon_0=-154 +x_0=0 +y_0=0 +ellps=GRS80 +datum=NAD83 +units=m +no_defs '
    ]
    ]);
    alert(proj4('EPSG:3338', [-1725223.205807, 2544412.932644]));


    map.setView(new L.LatLng(52, -115),3);
