extend layout
block content
  p
    | ALFRESCO Web Tool.
  p
    | This tool is used to configure and launch ALFRESCO
    | runs, and in the future will be used for post 
    | processing analysis.
  form(action='/launch',method='post')
    input(id='jobtitle' name='jobtitle',type='text', style='width:200px', value='',placeholder='jobtitle')
    input(id='email' name='email',type='text', style='width:200px', value='',placeholder='user@example.com')
    input(id='cores' name='cores',type='text', style='width:200px', value='',placeholder='32')
    textarea(id='fif' name='fif', style='width: 400px; height: 400px', value='')
    input(id='submit' name='submit', type='submit', value='Submit Job')
