doctype
html
  head
    title #{title} - ALFRESCO Job Launcher
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 ALFRESCO Web
      menu
        .menu
          a(href="/") Submit Job 
          a(href="/view") View Jobs
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p ALFRESCO is maintained by the Scenarios Network for Alaska Planning, UAF 
